backend/node_modules
frontend/node_modules
frontend/dist
data
temp
*.png
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.git
.gitignore
*.log
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
